NBA_MART_PATH=data/marts/season_player_averages.parquet
NBA_CURATED_PATH=data/curated/player_game_logs.parquet
NBA_DENSE_SERIES_PATH=data/marts/player_dense_game_series.parquet
NBA_FANTASY_SCORE_PATH=data/marts/player_fantasy_scores.parquet
